.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  padding-top: 10px;
}

.logo {
  width: 20%;
  max-width: 200px;
  height: auto;
}

.exitImage {
  position: absolute;
  right: 50px;
  top: 10px;
}

.exitImage:hover {
  cursor: pointer;
}
