.answersContainer {
  width: 100%;
  /* background-color: rgba(239, 233, 244, 0.5); */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.answerButton {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answerButtonHidden {
  display: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answerButtonSmall {
  height: 50%;
}

.answerButtonBig {
  height: 100%;
}

.letterSpan {
  font-size: 60px;
  font-weight: bold;
  /* color: var(--text-color); */
}

.buttonView {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: left;
  align-items: center;
  padding: 0 10px;
  height: 90%;
  width: 90%;
  border-radius: 10px;
  font-size: 20px;
}

.answerTextSpan {
  margin-left: 10px;
  flex-grow: 1;
  text-align: center;
  font-size: x-large;
  /* background-color: aqua; */
}

.buttonViewHidden {
  display: hidden;
}

.class0 {
  background-color: var(--answer-A-color);
}
.class1 {
  background-color: var(--answer-B-color);
}
.class2 {
  background-color: var(--answer-C-color);
}
.class3 {
  background-color: var(--answer-D-color);
}
