.logo {
  width: 70%;
  max-width: 270px;
  height: auto;
}

.formBackground {
  height: 45%;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  max-width: 500px;
  border-radius: 15px;
}

.joinForm {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inpuLabel {
  color: black;
  display: block;
  font-size: 18px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.inputJoin {
  background: rgb(202, 202, 202);
  border: 0;
  color: #000000;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 98%;
  border-radius: 5px;
}

.submitJoiningBtn {
  align-self: center;
  width: 50%;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--answer-A-color);
  border-radius: 50px;
  padding: 8px 16px;
  color: black;
  line-height: 26px;
  min-width: 110px;
  max-width: 150px;
  margin-top: 30px;
}

.submitJoiningBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}